[submodule "firmware/RungWheelController"]
	path = firmware/RungWheelController
	url = https://github.com/janelia-arduino/RungWheelController.git
[submodule "clients/optical_switch_interface"]
	path = clients/optical_switch_interface
	url = https://github.com/janelia-modular-devices/optical_switch_interface.git
[submodule "clients/encoder_interface_simple"]
	path = clients/encoder_interface_simple
	url = https://github.com/janelia-modular-devices/encoder_interface_simple.git
